/*---------------------------------------------------------------------------*\
  #VARIABLE
\*---------------------------------------------------------------------------*/

/*-- COLOR TEXT ---------------------*/

:root{
--color-default: rgb(255, 255, 255);
}

/*-- BACKGROUD COLOR ----------------*/

:root{
--bg-primary: rgb(86, 184, 230);
--bg-secondary:rgb(27, 47, 69);
--bg-secondary-opacity:rgba(27, 47, 69, 0.65);
--bg-third:rgb(247, 249, 252);
}

