@charset "UTF-8";
/*---------------------------------------------------------------------------*\
  #VARIABLE
\*---------------------------------------------------------------------------*/
/*-- COLOR TEXT ---------------------*/
:root {
  --color-default: rgb(255, 255, 255);
}

/*-- BACKGROUD COLOR ----------------*/
:root {
  --bg-primary: rgb(86, 184, 230);
  --bg-secondary:rgb(27, 47, 69);
  --bg-secondary-opacity:rgba(27, 47, 69, 0.65);
  --bg-third:rgb(247, 249, 252);
}

/*-- ICONS COLOR --------------------*/
:root {
  --orange: rgb(245, 120, 19);
}

/*---------------------------------------------------------------------------*\
  #RESET STYLE AND REGLE
\*---------------------------------------------------------------------------*/
body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*---------------------------------------------------------------------------*\
  #FAMILY-FONT
\*---------------------------------------------------------------------------*/
:root {
  --font-primary: Montserrat, sans-serif;
  --font-secondary: Raleway, sans-serif;
  --font-default: Open Sans, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h1 {
  font-family: var(--font-default);
}

h2,
h3,
p,
a {
  font-family: var(--font-secondary);
}

/*---------------------------------------------------------------------------*\
  #SIZE-FONT
\*---------------------------------------------------------------------------*/
/*--- BANNER ------------------------*/
.branding {
  font-size: 24px;
}

.intro-site__subheading {
  font-size: 48px;
}
.intro-site p {
  font-size: 15px;
  line-height: 1.5em;
}

.presentation__headline {
  font-size: 32px;
}

/*---------------------------------------------------------------------------*\
  #COLOR
\*---------------------------------------------------------------------------*/
/*--- DEFAULT -----------------------*/
a {
  color: white;
}

/*--- BANNER ------------------------*/
.branding {
  color: var(--color-default);
}

.intro-site__container {
  color: var(--color-default);
}

.play-circle {
  font-size: 32px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  background-color: var(--bg-primary);
  color: var(--bg-secondary);
}

.presentation__slider__btn-before, .presentation__slider__btn-next {
  font-size: 36px;
  font-weight: lighter;
}

/*---------------------------------------------------------------------------*\
  #NAVIGATOR - MISE EN PLACE DE MENU DE NAVIGATION PRINCIPAL
\*---------------------------------------------------------------------------*/
.nav--padding {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 0 5em;
}
.nav__main-list {
  display: flex;
  width: 100%;
}
.nav__main-item {
  position: relative;
  margin: 0.9em;
}

.dropdown {
  position: absolute;
  top: 3em;
  left: 0em;
  visibility: hidden;
}

.deep-dropdown {
  position: absolute;
  top: 5em;
  left: 5em;
}

.btn[type=arrow-down] {
  display: flex;
}

/*---------------------------------------------------------------------------*\
  #HOME
\*---------------------------------------------------------------------------*/
/*  conteneur header -------------------*/
.banner {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 1.6em 0;
}

.branding {
  z-index: 2;
}

/*---------------------------------------------------------------------------*\
  #ABOUT
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
  #INTRO-SITE - section surposer dans la banniére
\*---------------------------------------------------------------------------*/
.intro-site__container {
  top: 0;
  z-index: -1;
}
.intro-site__content {
  position: static;
  display: flex;
  flex-direction: column;
  padding: 15% 80px 15%;
  width: 440px;
}
.intro-site p {
  margin-left: 2.2em;
}

.nav__secondary {
  padding-top: 15%;
}
.nav__secondary-list {
  display: flex;
  align-items: stretch;
}
.nav__secondary-item {
  display: flex;
  align-items: center;
}
.nav__secondary-item:first-child {
  padding: 15px 40px;
}
.nav__secondary-item:last-child {
  margin-left: 1.5em;
}
.nav__secondary-item:last-child .btn {
  margin-left: 5px;
}

/*---------------------------------------------------------------------------*\
  #HOME
\*---------------------------------------------------------------------------*/
/*-- PRIMARY ------------------------*/
.home__primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.home__headline {
  align-self: center;
}

/*-- PRIMARY / SECTION PRESENTATION -*/
.presentation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1320px;
}
.presentation__headline--flex {
  position: relative;
  align-self: center;
  padding-bottom: 4em;
}
.presentation__headline--border {
  position: absolute;
  min-width: 60px;
  left: 33%;
}
.presentation__carry {
  display: flex;
  align-items: center;
  width: 1340px;
}
.presentation__content--row {
  display: flex;
  width: 40%;
  position: relative;
  overflow: hidden;
}
.presentation__debordement {
  display: flex;
}
.presentation__content {
  display: flex;
  flex-direction: column;
  width: 476px;
  padding: 0 16px;
  margin: 0 10px;
}
.presentation__img--width {
  width: 45%;
  margin-right: 9em;
}
.presentation__img {
  width: 100%;
  height: 100%;
}
.presentation .pagination__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 33em;
}
.presentation .pagination__before {
  margin-left: -30px;
}

/*-- BINARY -------------------------*/
.home__binary {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1340px;
}
.services__headline {
  align-self: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
}
.services__item {
  width: 440px;
  height: 115px;
}
.services__link {
  display: flex;
}
.services__link i {
  padding-top: 2px;
  padding-right: 2em;
}

/*-- TERNARY ------------------------*/
.home__ternary,
.home__ternary--img-attachment {
  width: initial;
  width: 100%;
}

.home__ternary .bg--flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}
.home__ternary .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-- FOURTH -------------------------*/
.home__fourth {
  display: flex;
  justify-content: center;
}
.home__fourth .task__container {
  display: flex;
  flex-direction: column;
  width: 1340px;
}
.home__fourth .task__content-main {
  display: flex;
  justify-content: space-between;
}
.home__fourth .task__content-sub {
  width: 740px;
}
.home__fourth .task__picture {
  width: 30%;
}
.home__fourth .task__list {
  display: flex;
}
.home__fourth .task-items .task-list__level-sub {
  display: flex;
  flex-direction: column;
}
.home__fourth .task-items .task-list__level-sub .item {
  padding: 10px;
}
.home__fourth .insulating-holder {
  display: flex;
  flex-direction: column;
}

/*-- FIFTH --------------------------*/
.home__fifth {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.workplace__container {
  width: 1320px;
  padding-bottom: 80px;
}
.workplace--position-row {
  display: flex;
  column-gap: 20px;
}
.workplace__content {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.workplace__image {
  width: 100%;
}
.workplace__carry p {
  text-align: justify;
}
.workplace__link a {
  color: initial;
}

.footer-page {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.footer-page .--flex-row {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.footer-page .container-main {
  width: 37%;
  margin-right: 50px;
}
.footer-page .social-list {
  display: flex;
}
.footer-page .container-sub {
  display: flex;
}
.footer-page .content {
  padding-left: 40px;
}
.footer-page span {
  align-self: center;
}

.banner {
  background-color: var(--bg-secondary);
}

/*---------------------------------------------------------------------------*\
  #BANNER - STYLISATION DU HEADER PRINCIPAL
\*---------------------------------------------------------------------------*/
.intro-site__container {
  background-image: url(../../../img/hero-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.intro-site--color-opacity {
  background-color: var(--bg-secondary-opacity);
}
.intro-site__content {
  background-color: var(--bg-secondary);
}

.nav__secondary-item:first-child {
  background-color: var(--bg-primary);
  border-radius: 35px;
}
.nav i {
  color: white;
  background-color: white;
}

/*----------------------------------*/
/*---------------------------------------------------------------------------*\
  # DEFAULT
\*---------------------------------------------------------------------------*/
main {
  background-color: var(--color-default);
}

/*---------------------------------------------------------------------------*\
  #BANNER
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
  #INTRO
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
  #AREA - PRIMARY
\*---------------------------------------------------------------------------*/
.slider__container {
  background-color: var(--bg-third);
}

/*---------------------------------------------------------------------------*\
  #AREA - BINARY
\*---------------------------------------------------------------------------*/
.services__list a {
  color: black;
}

/*---------------------------------------------------------------------------*\
  #AREA - TRENARY
\*---------------------------------------------------------------------------*/
.home__ternary--img-attachment {
  background: url(../../../img/cta-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.home__ternary .bg--color-opacity {
  background-color: var(--bg-secondary-opacity);
}

/*---------------------------------------------------------------------------*\
  #AREA - FOURTH
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
AREA PRIMARY - PRESENTATION
\*---------------------------------------------------------------------------*/
.presentation--position-row {
  background-color: var(--bg-third);
}

.presentation__headline--border {
  border-bottom: 2px solid var(--bg-primary);
}

/*# sourceMappingURL=style.css.map */
