.footer-page{
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  
  .--flex-row{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }

  .container-main{
    width: 37%;
    margin-right: 50px;
  }

  .container-sub{
    display: flex;
    
  }

  .content{
    padding-left: 40px;
  }

  span{
    align-self: center;
  }
}

.social-list{
  display: flex;

  &__item{
    margin-right: 10px;
  }
  &__icon{
    padding: 10px;
  }
}