/*---------------------------------------------------------------------------*\
  #HOME
\*---------------------------------------------------------------------------*/

/*  conteneur header -------------------*/

.banner {
  width: 100%;
  position:fixed;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 1.6em 0;
  z-index: 9999;
}









/*---------------------------------------------------------------------------*\
  #ABOUT
\*---------------------------------------------------------------------------*/