/*---------------------------------------------------------------------------*\
  #HOME
\*---------------------------------------------------------------------------*/


/*-- PRIMARY ------------------------*/

.home {

  &__primary {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }

  &__headline {
    align-self: center;
  }
}




/*-- PRIMARY / SECTION PRESENTATION -*/

.presentation {

  &__headline--flex {
    position: relative;
    align-self: center;
    padding-bottom: 4em;
  }

  &__headline--border {
    position: absolute;
    min-width: 60px;
    left: 33%;
  }
}

.slider {

  &__container {
    display: flex;
  }
}

.slider {
  //image

  &__img--width {
    width: 45%;
    margin-right: 9em;
  }

  &__img {
    width: 100%;
  }
}

.slider {

  &__carry {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 40%;
  }

  &__content--row {
    display: flex;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 476px;
    padding: 0 16px;
    margin: 0 10px;
  }
}

.pagination {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 33em;
  }

  &__before {
    margin-left: -30px;
  }
}

/*-- BINARY -------------------------*/

.home__binary {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.services {

  &__headline {
    align-self: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 440px;
    height: 115px;
  }
}



/*-- TERNARY ------------------------*/

.home__ternary {

  .bg--flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/*-- FOURTH -------------------------*/

.home__fourth {

  .task {

    &__container-main {
      display: flex;
      justify-content: space-between;
    }

    &__container-sub {
      width: 740px;
      margin-top: -20em;
      padding-bottom: 20em;
    }

    &__picture {
      align-self: flex-end;
      justify-self: flex-start;
    }

    &__list {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }

  .task-items {

    .task-list__level-sub {
      display: flex;
      flex-direction: column;

      .item {
        padding: 10px;
      }
    }
  }

  .insulating-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

}


/*-- FIFTH --------------------------*/

.home__fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;

  .workplace {
    &--position-row {
      display: flex;
      padding: 25px;
    }

    &__picture {
      width: 310px;
      padding: 10px;

      img {
        width: 100%
      }
    }
  }
}






/*-------------------------------------------------------------------------*\
  #ABOUT
\*---------------------------------------------------------------------------*/