/*---------------------------------------------------------------------------*\
  #HOME
\*---------------------------------------------------------------------------*/


/*-- PRIMARY ------------------------*/

.home {

  &__primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
  }

  &__headline {
    align-self: center;
  }
}

/*-- PRIMARY / SECTION PRESENTATION -*/

.presentation {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1320px;
  }

  &__headline--flex {
    position: relative;
    align-self: center;
    padding-bottom: 4em;
  }

  &__headline--border {
    position: absolute;
    min-width: 60px;
    left: 33%;
  }

  &__carry {
    display: flex;
    align-items: center;
    ;
    width: 1340px;
  }

  &__content--row {
    display: flex;
    width: 40%;
    position: relative;
    overflow: hidden;
  }

  &__debordement {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 476px;
    padding: 0 16px;
    margin: 0 10px;
  }

  &__img--width {
    width: 45%;
    margin-right: 9em;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}

  .pagination {

    &__container {
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 100%;
      position: absolute;
      
  }
}

/*-- BINARY -------------------------*/

.home__binary {
  display: flex;
  justify-content: center;
  padding-top: 80px;

}

.services {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1340px;
  }

  &__headline {
    align-self: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 440px;
    height: 115px;
  }

  &__link {
    display: flex;

    i {
      padding-top: 2px;
      padding-right: 2em;
    }
  }
}



/*-- TERNARY ------------------------*/

.home__ternary,
.home__ternary--img-attachment {
  width: initial;
  width: 100%;

}

.home__ternary {

  .bg--flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/*-- FOURTH -------------------------*/

.home__fourth {
  display: flex;
  justify-content: center;

  .task {
    
    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    
    
    &__content {
      display: flex;
      justify-content: space-between;
      position: relative;
      
    }
    &__carry {
      display: flex;
      flex-direction: column;
      width: 100%;
     
    }

    &__detail {
      width: 100%;
    }

    &__detail p{
    width: 370px;
    }

    &__list--padding, &__detail--padding{
      padding: 120px;
    }

    &__picture {
      width: 26%;
      position: absolute;
      right: 0;
    }

    &__list {
      display: flex;

    }
  }

  .task-items {

    .task-list__level-sub {
      display: flex;
      flex-direction: column;

      .item {
        padding: 10px;
      }
    }
  }
}


/*-- FIFTH --------------------------*/

.home__fifth {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.workplace {

  &__container {
    width: 1320px;
    padding-bottom: 80px;
  }

  &--position-row {
    display: flex;
    column-gap: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__image {
    width: 100%
  }

  &__carry p{
    text-align: justify ;
  }

  &__link a{
    color: initial;
  }
}