

/*---------------------------------------------------------------------------*\
  # DEFAULT
\*---------------------------------------------------------------------------*/
main {
  background-color: var(--color-default);

}

/*---------------------------------------------------------------------------*\
  #BANNER
\*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*\
  #INTRO
\*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*\
  #AREA - PRIMARY
\*---------------------------------------------------------------------------*/
.slider__container{
  background-color: var(--bg-third);
}

/*---------------------------------------------------------------------------*\
  #AREA - BINARY
\*---------------------------------------------------------------------------*/

.services__list a {
  color: black;
}


/*---------------------------------------------------------------------------*\
  #AREA - TRENARY
\*---------------------------------------------------------------------------*/

.home__ternary {

  &--img-attachment {
    background: url(../../../img/cta-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  .bg--color-opacity {
    background-color: var(--bg-secondary-opacity);
  }

}

/*---------------------------------------------------------------------------*\
  #AREA - FOURTH
\*---------------------------------------------------------------------------*/

.task{

  &__detail{
    background-color: var(--bg-third);
  }
}