/*---------------------------------------------------------------------------*\
  #BANNER
\*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*\
  #INTRO
\*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*\
  #AREA - PRIMARY
\*---------------------------------------------------------------------------*/
main {
  background-color: var(--color-default);

}

/*---------------------------------------------------------------------------*\
  #AREA - TRENARY
\*---------------------------------------------------------------------------*/

.home__ternary {

  &--img-attachment {
    background: url(../../../img/cta-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  .bg--color-opacity {
    background-color: var(--bg-secondary-opacity);
  }

}

/*---------------------------------------------------------------------------*\
  #AREA - FOURTH
\*---------------------------------------------------------------------------*/